*{
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

header {
    padding: 10px;
}
input[type=text] {
    border: 1px solid rgb(0, 183, 255);
    padding: 5px;
    box-sizing: border-box;
}
input[type=button]{
    padding: 5px;
    border-color: rgb(0, 183, 255);
    border-width: 1px;
}
.result-container {
    padding: 10px;
    border: 1px solid rgb(0, 183, 255);
    margin: 10px 0px;
}
main {
    width: 55%;
}
main section {
    width: 100%;
}
section {
    box-sizing: border-box;
}
.add-operator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer{
    width: 55%;
}
footer img {
    width: 100%;
}

#error {
    color: red;
}
@import '~bootstrap/scss/bootstrap';